@model HomeModel
@{
    ViewData["Title"] = "Página  Inícial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Sistema de Controle de Contatos</p>
    <span></span>
</div>