@{
    Layout = "_LayoutDisconnected";
    ViewData["Title"] = "Página  Restrita";
}
<p>Acesso restrito, sem permissão. <a asp-controller="Home" asp-action="Index">Click aqui para voltar para a Home.</a></p>